@tailwind base;
@tailwind components;
@tailwind utilities;

svg {
    height: 100%;
    width: 100%;
}

label {
    margin-bottom: 10px;
    display: block;
}

a {
    text-decoration: none;
}

.youtube-video iframe {
    height: 100%;
    width: 100%;
    z-index: 10
}

.cards-container {
    @apply grid grid-cols-3 gap-4
}

.icon {
    max-width: 27px;
    max-height: 27px;
    cursor: pointer;
}

.close-icon { 
    margin: 0 0 0 auto;
}

.close-icon svg {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
}

img {
    width: 100%
}

.full-absolute {
    @apply absolute inset-0 h-full;
}

.input {
    @apply w-input-width max-w-full p-2 mb-[15px] border-slate-200 rounded border-2
}

.margin-center {
    @apply ml-auto mr-auto
}

.error-message {
    @apply bg-red-300 p-2
}

.success-message {
    @apply bg-green-300 p-2
}

.content-container {
    @apply max-w-4xl margin-center py-5 px-9
}

.md-content-centered {
    @apply max-w-md margin-center
}

/* typography */
.primary-button {
    @apply rounded bg-mywhite font-bold	tracking-wide text-sm leading-5	py-[10px] px-[20px]
}

.secondary-button {
    @apply bg-gray-200 text-black border border-gray-300 rounded-lg py-2 px-4 text-base shadow-md capitalize;
}

.close-button.secondary-button {
    @apply text-sm
}

.secondary-button:hover {
    @apply bg-gray-300;
}

.submit-button {
    @apply secondary-button
}

.submit-button {
    border-color: #4CAF50!important
}

button[type="submit"] {
    @apply submit-button mt-4
}

.tag-button {
    @apply rounded text-blue-600 border-blue-600 border border-solid py-[15px] px-[10px] leading-5	 
}

.tab {
    @apply text-white bg-slate-400
}

.active {
    @apply bg-slate-900 border-b-2 border-white;
}

.tab:hover {
    @apply bg-slate-300;
}

header .avatar {
    height: 32px;
    width: 32px;
    border-radius: 100%;
}

button {
    border: none;
    background: transparent;
    display: block;
    cursor: pointer;
}

.chartlist-play-button {
    color: transparent;
    display: inline-block;
    font: 0 / 0 a;
    height: 32px;
    min-width: 0;
    position: relative;
    text-align: left;
    text-shadow: none;
    top: 0;
    vertical-align: top;
    width: 32px;
}

.chartlist-play-button:before {
    background-image: url(../images/play_dark.png);
    background-position: 0 0;
    background-position: 8px 8px;
    background-repeat: no-repeat;
    position: absolute;
    content: "";
    height: 32px;
    left: 0;
    left: 50%;
    margin-left: -16px;
    margin-top: -17px;
    right: auto;
    top: 0;
    top: 50%;
    transition: background-color .1s;
    width: 32px;
}

.song-play.chartlist-play-button:before {
    background-color: hsla(0, 0%, 100%, .85);
    border-radius: 100%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .07);
    margin-top: -16px; 
}

.spinner {
    width: 16px;
    height: 16px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top-color: #333;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* custom style */

.banner {
    width: 100%;
    height: 400px;
    display: flex;
}

.left-container {
    width: 50%;
    background-color: #D7CFC5;
}

.right-container {
    width: 50%;
    position: relative;
}

.right-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(215, 207, 197, 1) 9%, rgba(215, 207, 197, 0.5) 58%, transparent 100%);
    z-index: 1;
}

.right-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    position: relative;
}