@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
}

.input {
    @apply w-input-width max-w-full p-2 mb-[15px] border-slate-200 rounded border-2
}

.margin-center {
    @apply ml-auto mr-auto
}

.error-message {
    @apply bg-red-300 p-2
}

.success-message {
    @apply bg-green-300 p-2
}

.content-container {
    @apply max-w-4xl margin-center py-5 px-9
}

.md-content-centered {
    @apply max-w-md margin-center
}

header .avatar {
    height: 32px;
    width: 32px;
    border-radius: 100%;
}

button {
    border: none;
    background: transparent;
}

.chartlist-play-button {
    color: transparent;
    display: inline-block;
    font: 0 / 0 a;
    height: 32px;
    min-width: 0;
    position: relative;
    text-align: left;
    text-shadow: none;
    top: 0;
    vertical-align: top;
    width: 32px;
}

.chartlist-play-button:before {
    background-color: hsla(0, 0%, 100%, .85);
    background-image: url(../images/play_dark.png);
    background-position: 0 0;
    background-position: 8px 8px;
    background-repeat: no-repeat;
    border-radius: 100%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .07);
    content: "";
    height: 32px;
    left: 0;
    left: 50%;
    margin-left: -16px;
    margin-top: -16px;
    position: absolute;
    right: auto;
    top: 0;
    top: 50%;
    transition: background-color .1s;
    width: 32px;
}

.spinner {
    width: 16px;
    height: 16px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top-color: #333;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}