@tailwind base;
@tailwind components;
@tailwind utilities;

svg {
    height: 100%;
    width: 100%;
}

label {
    margin-bottom: 10px;
    display: block;
}

a {
    text-decoration: none;
}

.half-space {
  @apply md:w-5/12
}

.youtube-video iframe {
    height: 100%;
    width: 100%;
    z-index: 10
}

.cards-container {
    @apply grid grid-cols-3 gap-4
}

.icon {
    width: 17px;
    height: 17px;
    cursor: pointer;
}

.close-icon { 
    margin: 0 0 0 auto;
}

.close-icon svg {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
}

img {
    width: 100%
}

.full-absolute {
    @apply absolute inset-0 h-full;
}

.input {
    @apply w-input-width max-w-full p-2 mb-[15px] border-slate-200 rounded border-2
}

.margin-center {
    @apply ml-auto mr-auto
}

.error-message {
    @apply bg-red-300 p-2
}

.success-message {
    @apply bg-green-300 p-2
}

.content-container {
    @apply max-w-4xl margin-center py-5 px-9
}

.md-content-centered {
    @apply max-w-md margin-center
}

/* typography */
.primary-button {
    @apply rounded bg-mywhite font-bold	tracking-wide text-sm leading-5	py-[10px] px-[20px]
}

.secondary-button {
    @apply bg-gray-200 text-black border border-gray-300 rounded-lg py-2 px-4 text-base shadow-md capitalize;
}

.close-button.secondary-button {
    @apply text-sm
}

.secondary-button:hover {
    @apply bg-gray-300;
}

.submit-button {
    @apply secondary-button
}

.submit-button {
    border-color: #4CAF50!important
}

button[type="submit"] {
    @apply submit-button mt-4;
    z-index: 100;
}

.tag-button {
    @apply rounded text-blue-600 border-blue-600 border border-solid py-[15px] px-[10px] leading-5	 
}

.tab {
    @apply text-white bg-slate-900
}

.active {
    @apply bg-red-600 border-b-2 border-white;
}

.tab:hover {
    @apply bg-slate-500;
}

header .avatar {
    height: 32px;
    width: 32px;
    border-radius: 100%;
}

button {
    border: none;
    background: transparent;
    display: block;
    cursor: pointer;
}

.chartlist-play-button {
    color: transparent;
    display: inline-block;
    font: 0 / 0 a;
    height: 32px;
    min-width: 0;
    position: relative;
    text-align: left;
    text-shadow: none;
    top: 0;
    vertical-align: top;
    width: 32px;
}

.save-icon-btn.saved-song::before {
  background-image: url(../images/bookmark_filled.png);
}

.save-icon-btn::before {
  background-image: url(../images/bookmark.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  content: "";
  display: block;
  width: 16px;
  height: 16px;
}

.chartlist-play-button:before {
    background-image: url(../images/play_dark.png);
    background-position: 0 0;
    background-position: 8px 8px;
    background-repeat: no-repeat;
    position: absolute;
    content: "";
    height: 32px;
    left: 0;
    left: 50%;
    margin-left: -16px;
    margin-top: -17px;
    right: auto;
    top: 0;
    top: 50%;
    transition: background-color .1s;
    width: 32px;
}

.song-play.chartlist-play-button:before {
    background-color: hsla(0, 0%, 100%, .85);
    border-radius: 100%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .07);
    margin-top: -16px; 
}

.spinner {
    width: 16px;
    height: 16px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top-color: #333;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* custom style */

.banner {
    width: 100%;
    height: 400px;
    display: flex;
}

.left-container {
    width: 50%;
    background-color: #D7CFC5;
}

.right-container {
    width: 50%;
    position: relative;
}

.right-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(215, 207, 197, 1) 9%, rgba(215, 207, 197, 0.5) 58%, transparent 100%);
    z-index: 1;
}

.right-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    position: relative;
}

.accordion-content.invisible .selectize-dropdown {
    visibility: hidden!important;
}

.selectize-dropdown {
    position: relative;
    top: unset!important;
    left: unset!important;
    max-width: 500px;
    width: 100%!important;
}

.selectize-input {
  max-width: 500px;
    width: 100%!important;
}

/* search */

.search-overlay {
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 110;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.96);
    visibility: hidden;
    opacity: 0;
    transform: scale(1.09);
    transition: opacity 0.3s, transform 0.3s, visibility 0.3s;
    box-sizing: border-box;
  }
  
  .search-overlay p {
    padding-top: 15px;
  }
  
  .search-overlay .event-summary p {
    padding-top: 0;
  }
  
  .search-overlay .event-summary {
    margin-bottom: 0;
    margin-top: 20px;
  }
  
  body.admin-bar .search-overlay {
    top: 32px;
  }
  
  .search-overlay__top {
    background-color: rgba(0, 0, 0, 0.12);
  }
  
  .search-overlay__icon {
    margin-right: 10px;
    font-size: 1.8rem;
    color: var(--darkOrange);
  }
  
  @media (min-width: 768px) {
    .search-overlay__icon {
      font-size: 2.5rem;
    }
  }
  
  .search-overlay--active {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
  
  .search-overlay__section-title {
    margin: 30px 0 1px 0;
    font-weight: 400;
    color: var(--mainBlue);
    font-size: 2rem;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
  }
  
  .search-overlay__close {
    position: absolute;
    right: 16px;
    font-size: 2.1rem;
    cursor: pointer;
    transition: all 0.3s;
    color: var(--darkOrange);
    line-height: 0.7;
  }
  
  .search-overlay__close:hover {
    opacity: 1;
  }
  
  .search-overlay .one-half {
    padding-bottom: 0;
  }
  
  .search-term {
    width: 75%;
    box-sizing: border-box;
    border: none;
    padding: 15px 0;
    margin: 0;
    background-color: transparent;
    font-size: 30px;
    font-weight: 300;
    outline: none;
    color: var(--darkOrange);
  }
  
  @media (min-width: 576px) {
    .search-term {
      font-size: 26px;
    }
  }
  
  @media (min-width: 768px) {
    .search-term {
      width: 80%;
      font-size: 28px;
    }
  }
  
  .body-no-scroll {
    overflow: hidden;
  }
  
  .one-third {
    width: 33.33%;
    padding-bottom: 1.6rem;
    float: left;
    box-sizing: border-box;
    padding-right: 50px;
  }

  .link-list li:not(.songs .link-list li) {
    padding: 1rem 0;
    font-size: 1.5rem;
    border-bottom: 1px dotted #DEDEDE;
  }
  
  .search-overlay .link-list li {
    font-size: 1.3rem;
  }
  
  .link-list li:last-child {
    border-bottom: none;
  }
  
  .link-list a {
    color: #ff7300; 
  }

  ul {
    padding: 0
  }

  li {
    list-style: none;
  }
  
  .search-no-results {
    margin-top: 20px
  }


.page-numbers {
  display: inline-block;
  padding: 10px 15px;
  margin: 0 5px;
  text-decoration: none;
  font-size: 16px;
  color: #007bff;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.page-numbers:hover {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.page-numbers.current {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
  pointer-events: none;
}

.prev, .next {
  font-weight: bold;
  padding: 10px 20px;
}

.dots {
  padding: 10px 15px;
  color: #999;
}

.prev:hover, .next:hover {
  background-color: #0056b3;
  color: #fff;
  border-color: #0056b3;
}

.description-container.editable .edit-icon {
  display: none;
}

.description-container.editable .close-icon {
  display: block;
}

textarea {
  white-space: pre-wrap;
  padding: 10px;
  max-width: 500px;
  width: 100%;
  height: 200px;
}

textarea[readonly] {
  border: none;   
  color: #666;              
  cursor: auto;       
  resize: none;   
  height: 80px;         
}

textarea:focus-visible {
  outline: none;   
}

textarea:not([readonly]) {
  resize: none;  
  border: 2px solid rgb(180, 180, 180);
  border-radius: 8px;
}

/* menu */

/* Основное меню */
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  background-color: #333;
}

.menu > li {
  position: relative;
}

.menu li a {
  display: block;
  padding: 15px 20px;
  color: #fff;
  text-decoration: none;
  background-color: #333;
  transition: background-color 0.3s;
}

.menu li a:hover,
.mobile-menu .accordion-button:hover {
  background-color: #555;
}

/* Подменю */
.mobile-menu a:not(.sub-menu a) {
  width: 50%;
}

.menu svg {
  fill: white
}
.sub-menu {
  list-style: none;
  padding: 0;
}

.desctop-menu .sub-menu {
  position: absolute;
  display: none;
  background-color: #444;
}

.sub-menu li {
  position: relative;
}

.sub-menu > li > a {
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  display: block;
  background-color: #444;
  transition: background-color 0.3s;
}

.sub-menu li a:hover {
  background-color: #666;
}

/* Показ подменю при наведении */
.desctop-menu .menu-item-has-children:hover .sub-menu {
  display: block;
}

/* Текущий активный элемент меню */
.current-menu-item > a,
.current-menu-parent > a {
  background-color: #666;
}

/* Стили для вложенных подменю, если потребуется */
.sub-menu .sub-menu {
  left: 100%;
  top: 0;
}

/* mobile-menu */

/* Стили для бургер-иконки */
.burger-icon {
  cursor: pointer;
  display: block;
  width: 30px;
  height: 25px;
  position: relative;
}

.burger-icon span {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #333;
  margin-bottom: 5px;
  transition: 0.3s;
}

/* Меню по умолчанию скрыто */
.mobile-menu {
  display: block;
  list-style: none;
  padding: 0;
  background-color: #333;
  color: #fff;
}

.mobile-menu .menu-item {
  position: relative;
}

.mobile-menu .menu-item > a {
  padding: 15px;
  display: block;
  color: #fff;
  text-decoration: none;
  background-color: #333;
}

/* .mobile-menu .sub-menu {
  display: none;
  background-color: #444;
} */

.mobile-menu .sub-menu a {
  padding: 10px 15px;
  display: block;
  color: #fff;
  text-decoration: none;
  margin: 0 0 0 20px;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
  height: 0;
}

/* Анимация бургер-иконки при открытии */
.burger-icon.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger-icon.active span:nth-child(2) {
  opacity: 0;
}

.burger-icon.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}


/* formbuilder */

/* Контейнер формы */
.wppb-user-forms {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Заголовки секций формы */
.wppb-form-field h4 {
  margin-bottom: 15px;
  font-size: 1.25em;
  font-weight: 600;
  color: #333;
}

/* Поля ввода текста */
.wppb-form-field input[type="text"],
.wppb-form-field input[type="email"],
.wppb-form-field input[type="password"],
.wppb-form-field textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
  box-sizing: border-box;
}

/* Множественные строки (textarea) */
.wppb-form-field textarea {
  resize: vertical;
}

/* Лейблы */
.wppb-form-field label {
  font-weight: 600;
  color: #555;
  display: block;
  margin-bottom: 5px;
}

/* Кнопка отправки */
.form-submit .submit.button {
  width: 100%;
  padding: 10px;
  background-color: #0073aa;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1.1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-submit .submit.button:hover {
  background-color: #005177;
}

/* Требуемые поля */
.wppb-required {
  color: red;
  font-weight: bold;
}

/* Checkbox */
.wppb-form-field input[type="checkbox"] {
  margin-right: 10px;
}

/* Постраничная информация */
.wppb-user-forms .author-info {
  margin-top: 20px;
  color: #777;
  font-size: 0.9em;
}

/* Общие отступы для элементов формы */
.wppb-form-field {
  margin-bottom: 20px;
}

/* Мобильная оптимизация */
@media (max-width: 768px) {
  .wppb-user-forms {
    padding: 15px;
  }

  .wppb-form-field h4 {
    font-size: 1.1em;
  }
}

#wppb_register_pre_form_message {
  display: none;
}


#basic-user-avatar-form {
  width: 300px; /* Ширина формы */
  padding: 15px;
  border: 1px solid #ccc; /* Граница формы */
  border-radius: 10px; /* Закругленные углы */
  background-color: #f9f9f9; /* Цвет фона */
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1); /* Тень */
}

#basic-user-avatar-form p {
  margin: 10px 0;
}

#basic-local-avatar {
  display: block;
  margin: 10px auto;
}

#basic-user-avatar-erase {
  margin-right: 5px;
}

#basic-user-avatar-form label {
  font-size: 14px;
  color: #333;
}

#basic-user-avatar-form .description {
  font-size: 12px;
  color: #666;
  margin-top: 5px;
}

#basic-user-avatar-form input[type="submit"] {
  background-color: #0073aa; /* Цвет кнопки */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

#basic-user-avatar-form input[type="submit"]:hover {
  background-color: #005177; /* Цвет кнопки при наведении */
}

.avatar {
  @apply w-24 h-24 rounded-full mx-auto block
}

